<html>
<head><title>Django District</title></head>
<body>
    <h1>Django District</h1>
    <h2><span id="connected">{{ connected }}</span> 
        users are on this page right now.</h2>

    <script type="text/javascript" src="{{ jquery_url }}"></script>
    <script type="text/javascript" src="{{ sock_url }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var url = "http://" + document.domain + ":" + location.port;
            var socket = io.connect(url + "/dd");
            socket.on('msg', function(msg) {
                $("#connected").html(msg.count);
            });
        });
    </script>
</body>
</html>
